:root{
--colorA:#405D72;
--colorB:#758694;
--colorC: #F7E7DC;
--colorD:#FFF8F3;

}
#title-places{
 position: absolute;
 top: 400px;
}

.main-place{

    background-image: url("images/PhotoByFernandaFierroOnUnsplash.jpg");
    background-size: cover;
    background-repeat: space;
    width: 100%;
    height: 343px;
    margin: 0;
}

.image-1{
    background-image: url("images/PhotoByFernandaFierroOnUnsplash.jpg");
    background-size: cover;
width: 80px;
height: 80px;
margin: 0 auto;

}
.image-2{
    background-image: url("images/PhotoByAzzedineRouichiOnUnsplash.jpg");
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 0 auto;

}
.image-3{
    background-image: url("images/PhotoBySaraIllustrationUnsplash.jpg");
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 0 auto;

}
.MY{
background-image: url("images/LuisRestrepo.jpg");
background-size: cover;
width: 400px;
height: 150px;

}
.turist-places{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 100px ;
}
.my-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin: 10px auto;
}